
<h2>Hello <% if(locals.user){ %> 
    <%=locals.user.name %> !
    <% }else{%>
        Visitor !
    <%}%>
</h2>
<section id="feed-posts">
<div id="form-container">
    <% if(locals.user){ %> 
        <form method="POST" action='/posts/create' id="new-post-form">
            <textarea name="content"  cols="50" rows="5" placeholder="What's on your mind, <%= user.name%> "></textarea>
        <input type="submit" value="Post">
        </form>
        <%}else {%> 
           <h2> Sign in to Create posts !!!</h2>
            <%}%>
    </div>
    </section>
    <h2>Posts Timeline</h2>
    <section id="posts-list-container">  
    
        <ul >
            <% for(posts of posts){%> 
                <li>
                    <div id="author-details">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                    <small>
                        <%=posts.user.name%>
                    </small>
                    <% if((locals.user) && (locals.user.id == posts.user.id)){%>
                        <!-- delete button for posts -->
                        <small>
                            <a href="posts/destroy/<%= posts.id%>">  
                            <i class="fas fa-window-close fa-2x"></i>
                        </a>
                    </small>
                   <% }%>
                   
                    </div>
                    <div class="post-content"><p><%= posts.content%></p></div>
                    <div class="post-comments">
                        <% if (locals.user){ %>
                            <form action="/comments/create" method="POST">
                                <textarea name="content"  cols="40" rows="4"  placeholder="Type Here to add comment..." required></textarea>
                                <input type="hidden" name="post" value="<%= posts._id %>" >
                                <input type="submit" value="Add Comment">
                            </form>
    
                        <% } %>
                        <!-- post comment container -->
                        <div class="post-comments-list">
                            <ul id="post-comments-<%=posts._id %>">
                                <h4>Comments</h4>
                              <li>
                                <% for (comment of posts.comments){%>
                                    <div class="author-details">
                                        <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
                                    <small>
                                        <%=comment.user.name%>
                                    </small>
                                    </div>
                                    <div class="comment-content">
                                    <p>
                                        <%= comment.content %>
                                    </p>
                                    </div>
                                    <%}%>
                              </li>
                            </ul>
                             <!-- post comment ending -->
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
        
</section>
