<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('_header') %>
  <!-- flash message -->
        <% if(flash.success && flash.success.length > 0) {%>
          <div id="flash-notification">
            <h5 >
                <%= flash.success%>
            </h5>
          </div>

        <%}%>

    <!-- main body -->
    <main id="layout-main">
        <%- body %>
    </main>


    <%- include('_footer') %>
</body>
</html>