
<h1>Code | Profile Page</h1>



<% if(user.id == profile_user.id){ %>
    <h2>Update your Profile Details</h2>
    <form action="/users/update/<%=profile_user.id%>" method="POST">
    <input type="text" name="name" placeholder="Enter new name" value = "<%=profile_user.name%>"required>
    <input type="email" name="email" placeholder="Enter new email"  value = "<%=profile_user.email%>" required>
    <input type="submit" value="Update Details">
    </form>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
    
<% }else{ %>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
<% } %>